#sec1 {
    display: flex;
    flex-direction: column;
    margin-left: 38%;
    margin-top: 15%;
    border: solid red;
    width: 22%;
    height: 40%;
    text-align: center;
    background-color: rgb(255, 249, 240);


}

#btn1{font-size: large;
    border-radius: 7px;
    background-color:red;
    color: white;
   
}
#p1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#p2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
#em1{
    color: red;
}
#h1{
    color: red;
}
.btn{
    font-weight: bold;
}
#maindiv{
    margin-top: 10%;
}

#em2{
    color: red;
}

@media (min-width: 280px) and (max-width: 900px){
    #sec1{
     width: 100%;
     margin: auto 0;
    }
 }